
<p-dialog [(visible)]="viewPlanningExecutionDialog" [style]="{width: '70vw'}"
        header="" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Date planning execution</label>
                                    <p-calendar id="1" [disabled]="true"  [showTime]="true" [showSeconds]="false"
                                                placeholder="Date planning execution"  [(ngModel)]="selectedPlanningExecution.datePlanningExecution"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Quantite execution</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="2" [disabled]="true"
                                                   placeholder="Quantite execution"  [(ngModel)]="selectedPlanningExecution.quantiteExecution"
                                            [(ngModel)]="selectedPlanningExecution.quantiteExecution"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Planning repas</label>
                                    <p-dropdown [options]="planningRepass" [(ngModel)]="selectedPlanningExecution.planningRepas"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="id"
                                            placeholder="Planning repas">
                                    </p-dropdown>
                                </div>
                                <div class="p-field p-col-12 p-md-6">
                                    <label for="4">Commentaire</label>
                                    <textarea id="4" pInputTextarea rows="5" cols="30" [disabled]="true"
                                              placeholder="Commentaire"  [(ngModel)]="selectedPlanningExecution.commentaire"
                                    ></textarea>
                                </div>

                </div>
            </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-planning-repas-create-responsable></app-planning-repas-create-responsable>



</p-dialog>



